<footer>
  <p>© John Johriel Rosarda 2023</p>
</footer>
  

  <script>
    let checkBoxesList = document.querySelectorAll("div.taskList > form > div.taskItem > input[name=checkbox]");
    
    for (let i = 0; i < checkBoxesList.length; i++) {
      let checkBox = checkBoxesList[i];
      
      checkBox.addEventListener('change', (event) => {
        if (event.target.tagName === 'INPUT') {
          checkBox.nextElementSibling.classList.toggle("checked");
        } 
      });
    }
        //using array forEach
/*     checkBoxesList.forEach((checkBox) => {
       checkBox.addEventListener('click', (event) => {
         if (event.target.tagName === 'INPUT') {
           checkBox.parentElement.classList.toggle("checked");
         }
       });
     })
*/ 
  
    </script>
<!-- Start of johriel Zendesk Widget script --><script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=a55f3b92-9f0b-483e-93ef-6e89621c7f90"> </script><!-- End of johriel Zendesk Widget script -->
</body>



</html>
