<%- include("partials/header.ejs") %>


<div class="flexContainer">
<div class="taskToolCtn">
    
  
    
  <div class="taskList">
      <% foundItem.forEach(function(item) { %>
          <form action="/delete" method="post">
            <div class="taskItem"> 
              <input class="checkBoxItem" type="checkbox" name="checkbox" value="<%=item.id%>" onChange="this.form.submit()">
              <p class="outputItem"> <%= item.name %> </p>
            </div>
            <input type="hidden" name="listName" value="Today"></input>
          </form>
      <% }); %>
  </div>

  <form class="inputBox" action="/" method="post">
    <div class="inputBarCtn">
      <input class="inputBar" type="text" id="taskItem" name="taskItem" placeholder="Please enter a task:" required/>
    </div>
    <div class="inputBtnCtn">
      <button type="submit" name="customList" value="Today">ADD</button>
    </div>
  </form>

</div>
</div>

    

 
<%- include("partials/footer.ejs") %>