<%- include("partials/header.ejs") %>

<div class="text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Work List</h1>

    <div class="col-lg-6 mx-auto">
    <form action="/addWork" method="post">
      <div class="d-flex">
        <div class="p-2 w-100">
          <input type="text" id="taskWork" name="taskWork" placeholder="Please enter a task:" required class="form-control" />
        </div>
        <div class="p-1 flex-shrink-1">
      <input type="submit" value="ADD" class="btn btn-secondary my-1" />
      </div>
    </div>
    </form>
    
    <div class="text-start">
    <ul>
      <% for (var i=0; i<addedTaskWork.length; i++) { %>
        <li>
          <div class="d-flex flex-row justify-content-start align-items-center"> 
          <input type="checkbox" name="checkbox" class="m-3">
          <p class="m-0"> <%= addedTaskWork[i]; %> </p>
        </div>
        </li>
      <% } %>
    </ul>
    </div>
  </div>
</div>
    

<%- include("partials/footer.ejs") %>